// VARIABLES 
$color-fondo: white;
$color-letras: black;
$color-primario: #BAD5D9;
$color-secundario: #385A65;
$color-terciario: white;
$borde-clasico: 4px solid #1E1E1E;
$font-family: 'Oswald', sans-serif;